<% provide(:title, 'Sign up') %>

<div class="page-form">
    <div class="container-fluid">
      <h1 id="signuplogo">Sign up</h1>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages' %>
        
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
        
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
        
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
        
              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
        
              <div class="actionbutton" id="signupbutton-2"><h3>Create Account</h3></div>
            <% end %>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>